* {
    --main-color: #B0C4DE;
}

body {
    background-color: #333333;
    color: var(--main-color);
    height: 99vh;
}

.full-height-column {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#wolfcraft-io {
    display: flex;
    width: 80vw;
    max-height: 80vh;
    padding: min(5vh, 5vw);
}

svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-miterlimit: 2;
}

svg path.wolf,
svg path.photo,
svg path.code,
svg path.io,
svg path.name {
    fill: var(--main-color);
    fill-rule: nonzero;
}

svg a:hover path {
    fill: teal;
}

svg path.photo.quadrant,
svg path.code.quadrant {
    fill: transparent;
}

svg path.shield {
    fill: none;
    stroke: var(--main-color);
}