:root {
    --main-color: #B0C4DE;
    --background-color: #333333;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: var(--main-color);
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    text-align: center;
}

#wolfcraft-io {
    display: flex;
    width: 80vw;
    max-height: 80vh;
    padding: min(5vh, 5vw);
}

svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-miterlimit: 2;
}

svg path.wolf,
svg path.photo,
svg path.code,
svg path.io,
svg path.name{
    fill: var(--main-color);
    fill-rule: nonzero;
}

svg path.shield {
    fill: none;
    stroke: var(--main-color);
}

svg path.info {
    fill: var(--main-color);
    fill-rule: unset;
    opacity: 0.4;
}

svg a:hover path:not(.quadrant) {
    stroke: var(--main-color);
    stroke-width: 1px;
}

svg path.photo.quadrant,
svg path.code.quadrant {
    fill: transparent;
}

#info-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 2rem;
    margin: 1rem;
}

#info-button.checked path {
   opacity: 1;
}

#wolfcraft-io path {
   transition: opacity 2s linear;
}

#info-button.checked + #wolfcraft-io path:not(.code):not(.photo) {
   opacity: 0.2;
}